@font-face {
    font-family: "Cascadia Code PL";
    src: url(raw.githubusercontent.com/comboomPunkTsucht/OSZ_ITA12_Doc/main/_includes/CascadiaCode.ttf);
    src: url(raw.githubusercontent.com/comboomPunkTsucht/OSZ_ITA12_Doc/main/_includes/CascadiaCodePLItalic.ttf);

    font-family: "Cascadia Code";
    src: url(raw.githubusercontent.com/comboomPunkTsucht/OSZ_ITA12_Doc/main/_includes/CascadiaCode.ttf);
    src: url(raw.githubusercontent.com/comboomPunkTsucht/OSZ_ITA12_Doc/main/_includes/CascadiaCodeItalic.ttf);

    font-family: "Cascadia Mono PL";
    src: url(raw.githubusercontent.com/comboomPunkTsucht/OSZ_ITA12_Doc/main/_includes/CascadiaMonoPL.ttf);
    src: url(raw.githubusercontent.com/comboomPunkTsucht/OSZ_ITA12_Doc/main/_includes/CascadiaMonoPLItalic.ttf);

    font-family: "Cascadia Mono";
    src: url(raw.githubusercontent.com/comboomPunkTsucht/OSZ_ITA12_Doc/main/_includes/CascadiaMono.ttf);
    src: url(raw.githubusercontent.com/comboomPunkTsucht/OSZ_ITA12_Doc/main/_includes/CascadiaMonoItalic.ttf);

}

body {
    background-color: #000000
    font-family: "Cascadia Code PL", "Cascadia Code", "Cascadia Mono PL", "Cascadia Mono" !important;
}